@model NorwegianWhiteJaguar.Model.ViewModel.CustomerAccountsViewModel
@{
    if (Model.CustomerAccounts != null)
    {
        <h1>Customer Accounts</h1>
        <table class="table table-sm table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Number</th>
                <th scope="col">Friendly Name</th>
                <th scope="col">Balance</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var account in @Model.CustomerAccounts)
            {
                <tr>
                    <th scope="row">@account.Id</th>
                    <td>@account.Number</td>
                    <td>@account.FriendlyName</td>
                    <td>@account.Balance</td>
                    <td>@Html.ActionLink("Transactions", "Index", "Transaction", new {accountId = account.Id}, null)</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h1>There is no account!</h1>
    }
}